@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;400;500;600;700;800&display=swap');


/*-----------------------------------------------------*/
/*                    SECCIÓN SERVICIOS                */
/*-----------------------------------------------------*/

        /*---------------------------------------------*/
        /*                 SECCIÓN AZUL 1
        /*---------------------------------------------*/

#servicios .blue-section {
    font-family: 'Inter', sans-serif;
    background-color: #004AAC;
    height: 40vh; /* Ocupa toda la altura de la pantalla */
    padding-top: 160px;
    padding-left: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#servicios #section1 h1 {
    color: #fff;
    margin: auto;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    #servicios .blue-section {
        font-family: 'Inter', sans-serif;
        background-color: #004AAC;
        height: 40vh; /* Ocupa toda la altura de la pantalla */
        padding: 0px;
        padding-top: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    #servicios #section1 h1 {
        color: #fff;
        margin: auto;
        margin-bottom: 50px;
        font-size: 30px;
        font-weight: 500;

    }
}

        /*---------------------------------------------*/
        /*                 SECCIÓN BLANCA
        /*---------------------------------------------*/

#servicios .white-section {
    padding-top: 100px;
    max-width: 1300px;
    margin: auto;
    background-color: #fff;
    color: #004AAC;
    height: fit-content; /* Puedes ajustar esto según el contenido */
    justify-content: center;
    align-items: center;
  }
  
#servicios .white-section h2 {
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 700;
    max-width: 756px; /* Limita el ancho del texto para mejorar la legibilidad */  
}

#servicios .white-section p {
    font-size: 24px;
    font-weight: 500;
    max-width: 557px; /* Limita el ancho del texto para mejorar la legibilidad */
}

#servicios .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinea verticalmente los elementos */
    padding: 20px; /* Ajusta el espacio alrededor del contenido según sea necesario */
}

#servicios .texto-boton {
    flex: 1; /* Ocupa la mitad del espacio disponible */
    padding-right: 0px; /* Espacio entre el texto y la imagen */
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
}

#servicios .texto p{
    max-width: 465px;
}

#servicios .img_IE {
    flex: 1; /* Ocupa la otra mitad del espacio disponible */
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    
}

#servicios .img_IE img {
    max-width: 90%; /* Ajusta la imagen para que no exceda el tamaño del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

#servicios .contenedor .texto-boton .boton {
    padding-top: 60px;
    margin:auto;
    align-self: flex-end;
}

#servicios .contenedor .texto-boton .boton .btn{
    
    font-family: 'Mukta Mahee', sans-serif;
    
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;

    margin: 0px;
    background-color: #004AAC;
    border-radius: 5px;
    color: #fff;
    border: none;
    transition: .5s;
    padding: 10px 20px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    #servicios .img_IE {
        display: none;
    }

    #servicios .texto-boton {
        flex: none;
        width: 100%;
        padding-right: 0;
    }

    #servicios .contenedor {
        flex-direction: column;
        align-items: center;
    }

    #servicios .contenedor .texto-boton .boton {
        align-self: center;
        margin-bottom: 15px;
    }


    #servicios .texto p{
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        max-width: 465px;
    }
    #servicios .white-section h2 {
        text-align: center;
        margin-bottom: 50px;
        font-size: 30px;
        font-weight: 700;
        max-width: 756px; /* Limita el ancho del texto para mejorar la legibilidad */  
    }
}


        /*---------------------------------------------*/
        /*                 SOBRE MI
        /*---------------------------------------------*/   

        #servicios .sobre_mi{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-image: url('../img/fondo_sobremi.jpeg');
    background-repeat: repeat-x;
    height: fit-content;
}

#servicios .sobre_mi .fila{
    display: flex;
    justify-content: space-around;
    max-width: 1100px;
    margin: 15px auto;
}

#servicios .sobre_mi .fila .informacion{
    font-family: 'Inter', sans-serif;
    color: white;
    max-width: 480px;
    background-color: rgba(25, 43, 116, 0.4);
    padding: 30px;
    padding-top: 20px;
    margin: 0 5px;
    border-radius: 5px;
    transition: 0.5s;
}

#servicios .sobre_mi .fila h3{
    font-weight: 700;
    font-size: 24px;
   margin-bottom: 10px;
}

#servicios .sobre_mi .fila p{
    font-weight: 500;
    font-size: 16px;
}

#servicios .sobre_mi .fila .informacion:hover{
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}

#servicios .sobre_mi .fila .informacion .icono, .sobre_mi .fila .informacion .icono2, .sobre_mi .fila .informacion .icono4{
    display: inline-block;  

}

#servicios .sobre_mi .fila .informacion .icono img{
    width: auto;
    height: 90px;
    margin-bottom: 5px;
}

#servicios .sobre_mi .fila .informacion .icono2 img{
    width: auto;
    height: 90px;
    margin-bottom: 5px;
}

#servicios .sobre_mi .fila .informacion .icono4 img{
    width: auto;
    height: 90px;
    margin-bottom: 5px;
}

#servicios #section2 .contenedor .texto-boton .boton .btn{
    
    background-color: #004AAC;
}

#servicios #section2 .contenedor .texto-boton .boton .btn:hover{
    
    background-color: #3F71EA;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    #servicios .sobre_mi .fila h3{
        font-weight: 700;
        font-size: 18px;
       margin-bottom: 10px;
    }
    
    #servicios .sobre_mi .fila p{
        font-weight: 500;
        font-size: 14px;
    }
    #servicios .sobre_mi .fila .informacion{
        font-family: 'Inter', sans-serif;
        color: white;
        max-width: 45%;
        background-color: rgba(25, 43, 116, 0.4);
        padding: 10px;
        padding-top: 20px;
        margin: 0 5px;
        border-radius: 5px;
        transition: 0.5s;
    }
}