
<footer class="footer-distributed">

    <div class="footer-left">
        <h3>Happy <span>Home</span></h3>
        <h2>AUTOMATIZACIÓN DEL HOGAR</h2>

        <p class="footer-links">
            <a href="index.html" id="inicio" class="navbar-link">Inicio</a> |
            <a href="servicios.html" id="servicios" class="navbar-link">Servicios</a> |
            <a href="sobre_nosotros.html" id="sobre_nosotros" class="navbar-link">Sobre Nosotros</a> |
            <a href="contacto.html" id="contacto" class="navbar-link">Contacto</a>
        </p>

        <p class="footer-company-name">Copyright © 2024 <strong>HappyHome</strong> All rights reserved</p>
    </div>

    <div class="footer-center">
        <div>
            <img src="img/geo-alt.svg" alt="Logo" class="i">
            <p><span>Mendoza</span> Argentina</p>
        </div>

        <div>
            <img src="img/telephone-outbound.svg" alt="Logo" class="i">
            <p><a href="tel:+542615465463">+54 261 546 5463</a></p>
        </div>

        <div>
            <img src="img/envelope.svg" alt="Logo" class="i">
            <p><a href="mailto:happyhome.automatizacion@gmail.com">happyhome.automatizacion@gmail.com</a></p>
        </div>
    </div>

    <div class="footer-right">
        <p class="footer-company-about">
            <span>Sobre nosotros</span>
            <strong>En Happy Home, nos dedicamos a transformar la seguridad y comodidad de los hogares
                con soluciones innovadoras. Nuestro objetivo es hacer que cada hogar sea más seguro, eficiente y confortable, 
                superando siempre las expectativas de nuestros clientes.</strong>
        </p>

        <div class="footer-icons">
            <a href="https://www.instagram.com/happyhome.arg?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
                <img src="img/instagram.svg" alt="Instagram Logo">
            </a>
            <a href="https://www.linkedin.com/company/happyhome/" target="_blank">
                <img src="img/linkedin.svg" alt="LinkedIn Logo">
            </a>
            <a href="https://api.whatsapp.com/send/?phone=5492615465463&text=Hola%2C+quiero+m%C3%A1s+informaci%C3%B3n+sobre+sus+servicios.&type=phone_number&app_absent=0" target="_blank">
                <img src="img/whatsapp.svg" alt="WhatsApp Logo">
            </a>
        </div>
    </div>

</footer>